<!DOCTYPE HTML>

  <!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <a href="index.html" class="logo"><strong>Edge</strong> <span>Parking</span></a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">Home</a></li>
      <li><a href="landing.html">Landing</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
    <ul class="actions stacked">
      <li><a href="#" class="button primary fit">Get Started</a></li>
      <li><a href="#" class="button fit">Log In</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main" class="alt">

    <!-- One -->
    <section id="one">
      <div class="inner">
        <header class="major">
          <h1>Find a Carpark</h1>
        </header>

        <section id="five" class="spotlights">
          <section>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>The Current Carpark Scope</h3>
                  <h4>Singing in may be required for the map</h4>
                </header>
              </div>
            </div>
          </section>
        </section>

        <p><b></b></p>
        <iframe width="1000" height="563" src="https://app.powerbi.com/reportEmbed?reportId=fe2d89c9-d191-4076-938b-2ed92d8a7b29&autoAuth=true&ctid=9aee26d8-97c2-4fad-8900-96735f6dc73f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>

      </div>
    </section>

  </div>

  <!-- Two -->
  <section id="two">
    <div class="inner">

      <section id="five" class="spotlights">
        <section>
          <div class="content">
            <div class="inner">
              <header class="major">
                <h3>Carpark Information and Get Directions</h3>
                <h4>The path to a carpark may differ depening on traffic conditions</h4>
              </header>
            </div>
          </div>
        </section>
      </section>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Carpark Name</th>
              <th>Carpark Address</th>
              <th>Direcitons</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Car Park 3 La Trobe</td>
              <td>Car Park 3, Ring Road, Bundoora, 3038</td>
              <td> <a href="https://www.google.com/maps/place/La+Trobe+University+Melbourne+Campus/@-37.7218483,145.0483497,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad645e28a38a69b:0xf0456760532dac0!8m2!3d-37.7218526!4d145.0505384" target="_blank"> Click Me For Directions</a> </td>
            </tr>
            <tr>
              <td>Epping Puma</td>
              <td>523 Cooper Street, Epping, 3076</td>
              <td> <a href="https://www.google.com/maps/place/Puma+Epping/@-37.6479288,144.9760848,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad65144535fb163:0x4fdd9566e14da5d!8m2!3d-37.6479331!4d144.9782735" target="_blank"> Click Me For Directions</a> </td>
            </tr>
            <tr>
              <td>T1, T2, T3 Car Park</td>
              <td>Arrival Drive, Tullamarine, 3043</td>
              <td> <a href="https://www.google.com/maps/place/Melbourne+Airport/@-37.7167876,144.7925311,12z/data=!4m5!3m4!1s0x6ad659a9ebaa3917:0xf045676052ff090!8m2!3d-37.6708673!4d144.8432785" target="_blank"> Click Me For Directions</a> </td>
            </tr>
            <tr>
              <td>Wilson Parking</td>
              <td>22 Eagle Alley, Melbourne, 3000</td>
              <td> <a href="https://www.google.com/maps/place/22+Eagle+Alley,+Melbourne+VIC+3000/@-37.8136358,144.9527993,17z/data=!4m5!3m4!1s0x6ad65d496eba7555:0x9ffd180848694746!8m2!3d-37.8125716!4d144.9548197" target="_blank"> Click Me For Directions</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   </section>

      <!-- Contact -->
      <section id="contact">
        <div class="inner">
          <section>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="6"></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send Message" class="primary" /></li>
                <li><input type="reset" value="Clear" /></li>
              </ul>
            </form>
          </section>
          <section class="split">
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-envelope"></span>
                <h3>Email</h3>
                <b href="#">information@untitled.tld</b>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-phone"></span>
                <h3>Phone</h3>
                <b>(000) 000-0000 x12387</b>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-home"></span>
                <h3>Address</h3>
                <b>
                  1234 Somewhere Road #5432<br />
                  Nashville, TN 00000<br />
                  United States of America
                </b>
              </div>
            </section>
          </section>
        </div>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
