<!-- Wrapper -->
<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Back</a></li>
  </ul>
</nav>

<!-- Main -->
<div id="main" class="alt">

  <!-- One -->
  <section id="one">

    <header class="major">
      <h1>Motorist and General User Sign In</h1>
    </header>


    <div class="row gtr-uniform">
      <div class="col-6 col-12-xsmall">
        <input type="text" name="demo-name" id="demo-name" value="" placeholder="LoginID" />
      </div>
      <div class="col-6 col-12-xsmall">
        <input type="text" name="demo-email" id="demo-email" value="" placeholder="Password" />
      </div>
      <div>
        <a href="employeeindex.html" class="button primary">Sign in</a>
      </div>

      <div class="col-6 col-12-small">
        <input type="checkbox" id="demo-human" name="demo-human" checked>
        <label for="demo-human">Remember Sign In</label>
      </div>




    </div>
  </section>

  <p><b></b></p>
  <iframe width="1000" height="563" src="https://app.powerbi.com/reportEmbed?reportId=7832fa72-8d42-47cb-9628-33c8514c7edc&autoAuth=true&ctid=9aee26d8-97c2-4fad-8900-96735f6dc73f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="copyright">
        <li>&copy; Edge 2021</li>
      </ul>
    </div>
  </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

