<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Back</a></li>
  </ul>
</nav>

<!-- Main -->
<div id="main" class="alt">

  <!-- One -->
  <section id="one">
  <!-- This div adds a login section for general user and motorist so they are able to input and login.-->
    <div class="inner">
      <header class="major">
        <h1>General User & Motorist Login</h1>
      </header>

      <form method="post" action="#" #myForm="ngForm">
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall">
            <label for="email">Login Email:</label>
            <b>
              <input type="text" class="form-control" minlength="5" name="email" id="email" value="" placeholder="Enter Admin Email" [(ngModel)]="login_Email_Input" required />
            </b>
          </div>

          <div class="col-6 col-12-xsmall">
            <label for="password">Password:</label>
            <b>
              <input type="password" id="password" name="password" placeholder="Enter Password" [(ngModel)]="login_Password_Input">
            </b>
          </div>

          <div class="col-6 col-12-small">
            <input type="checkbox" id="demo-human" name="demo-human" checked>
            <label for="demo-human">Remember Sign In</label>
          </div>


          <ul class="actions">
            <li>
              <button (click)="checkLogin()" class="button primary fit">
                Login
              </button>
            </li>
            <li [routerLinkActive]="['link-active']">
              <button value="" class="button primary fit" [disabled]="!myForm.form.valid" [routerLink]="['/Eleven']">Next</button>
            </li>
            <li>
              <button type="reset" value="">Clear</button>
            </li>
          </ul>

        </div>
      </form>
    </div>

  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="copyright">
        <li>&copy; Edge 2021</li>
      </ul>
    </div>
  </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

