
  <!-- Wrapper -->
  <div></div> id="wrapper">



    <!-- Menu -->
    <nav id="menu">

      <ul class="actions stacked">
        <li><a href="customerindex.html" class="button primary fit"> Log In With Google </a> </li>
        <li><a href="employeeindex.html" class="button fit"> Administrator Sign In </a></li>
        <li><a href=# class="button fit"> Contact Us </a> </li>
      </ul>
    </nav>

    <!-- Banner -->
    <!-- Note: The "styleN" class below should match that of the header element. -->
    <section id="banner" class="style3">
      <div class="inner">
        <span class="image">
          <img src="../../assets/images/emptypark.jpeg" alt="" />
        </span>
        <header class="major">
          <h1>Find A Car Park</h1>
        </header>
        <div class="content">
          <p>
            See Our Car Parks Below
          </p>
        </div>
      </div>
    </section>

    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25260.63054284539!2d144.8452262533308!3d-37.68260340566784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65a2cd4f53175%3A0x5ba7bb5b720759c5!2sEasy%20Airport%20Parking!5e0!3m2!1sen!2sau!4v1631594259851!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

      <!-- Contact -->
      <section id="contact">
        <div class="inner">
          <section>
            <form method="post" action="#">
              <div class="fields">
                <div class="field half">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="6"></textarea>
                </div>
              </div>
              <ul class="actions">
                <li><input type="submit" value="Send Message" class="primary" /></li>
                <li><input type="reset" value="Clear" /></li>
              </ul>
            </form>
          </section>
          <section class="split">
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-envelope"></span>
                <h3>Email</h3>
                <b href="#">information@untitled.tld</b>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-phone"></span>
                <h3>Phone</h3>
                <b>(000) 000-0000 x12387</b>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-home"></span>
                <h3>Address</h3>
                <b>
                  1234 Somewhere Road #5432<br />
                  Nashville, TN 00000<br />
                  United States of America
                </b>
              </div>
            </section>
          </section>
        </div>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>


