<!-- Wrapper -->
<div id="wrapper">

  <!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">Home</a></li>
      <li><a href="landing.html">Landing</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
    <ul class="actions stacked">
      <li><a href="#" class="button primary fit">Sign Up</a></li>
      <li><a href="#" class="button fit">Log In</a></li>
    </ul>
  </nav>

  <!-- One -->
  <section id="one">
    <div class="inner">
      <header class="major">
        <h1>Update My Customer Profile</h1>
      </header>

      <section id="five" class="spotlights">
        <section>
          <div class="content">
            <div class="inner">
              <header class="major">
                <h3>Below are your current details</h3>
                <h4>Please be careful when updating new details</h4>
              </header>
            </div>
          </div>
        </section>
      </section>

    </div>
  </section>

  <!-- One User input area-->
  <section id="one">
    <div class="inner">
      <b>
        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <label for="firstname">New First Name</label>
              <input type="text" name="firstname" id="firstname" />
            </div>
            <div class="field half">
              <label for="oldFirstname">Current First Name</label>
              <input type="text" name="oldFirstname" id="oldFirstname" />
            </div>
            <div class="field half">
              <label for="lastname">New Last Name</label>
              <input type="text" name="lastname" id="lastname" />
            </div>
            <div class="field half">
              <label for="oldLastname">Current Last Name</label>
              <input type="text" name="oldLastname" id="oldLastname" />
            </div>
            <div class="field half">
              <label for="email"> New Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="field half">
              <label for="oldEmail"> Current Email</label>
              <input type="text" name="oldEmail" id="oldEmail" />
            </div>
            <div class="field half">
              <label for="phoneNo">New Phone Number</label>
              <input type="text" name="phoneNo" id="phoneNo" />
            </div>
            <div class="field half">
              <label for="oldPhoneNo">Current Phone Number</label>
              <input type="text" name="oldPhoneNo" id="oldPhoneNo" />
            </div>
            <div class="field half">
              <label for="addressStreet">New Address Street</label>
              <input type="text" name="addressStreet" id="addressStreet" />
            </div>
            <div class="field half">
              <label for="oldAddressStreet">Current Address Street</label>
              <input type="text" name="oldAddressStreet" id="oldAddressStreet" />
            </div>
            <div class="field half">
              <label for="addressCity">New Address City</label>
              <input type="text" name="addressCity" id="addressCity" />
            </div>
            <div class="field half">
              <label for="oldAddressCity">Current Address City</label>
              <input type="text" name="oldAddressCity" id="oldAddressCity" />
            </div>
            <div class="field half">
              <label for="addressPostcode">New Address Postcode</label>
              <input type="text" name="addressPostcode" id="addressPostcode" />
            </div>
            <div class="field half">
              <label for="oldAddressPostcode">Current Address Postcode</label>
              <input type="text" name="oldAddressPostcode" id="oldAddressPostcode" />
            </div>
            <div class="field half">
              <label for="licenceNumber<">New Licence Number</label>
              <input type="text" name="licenceNumber" id="licenceNumber" />
            </div>
            <div class="field half">
              <label for="oldLicenceNumber<">Current Licence Number</label>
              <input type="text" name="oldLicenceNumber" id="oldLicenceNumber" />
            </div>
            <div class="field half">
              <label for="licenceExpiry">New Licence Expiry</label>
              <input type="text" name="licenceExpiry" id="licenceExpiry" />
            </div>
            <div class="field half">
              <label for="oldLicenceExpiry">Current Licence Expiry</label>
              <input type="text" name="oldLicenceExpiry" id="oldLicenceExpiry" />
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Submit data for a update of profile" class="primary" /></li>
            <li><input type="reset" value="Clear" /></li>
          </ul>
        </form>
      </b>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact">
    <div class="inner">
      <section>
        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <label for="name">Name</label>
              <b>
                <input type="text" name="name" id="name" />
              </b>
            </div>
            <div class="field half">
              <label for="email">Email</label>
              <b>
                <input type="text" name="email" id="email" />
              </b>
            </div>
            <div class="field">
              <label for="message">Message</label>
              <b>
                <textarea name="message" id="message" rows="6"></textarea>
              </b>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send Message" class="primary" /></li>
            <li><input type="reset" value="Clear" /></li>
          </ul>
        </form>
      </section>
      <section class="split">
        <section>
          <div class="contact-method">
            <span class="icon solid alt fa-envelope"></span>
            <h3>Email</h3>
            <b href="#">info@edgecity.edu.au</b>
          </div>
        </section>
        <section>
          <div class="contact-method">
            <span class="icon solid alt fa-phone"></span>
            <h3>Phone</h3>
            <b>(000) 000-0000 x12387</b>
          </div>
        </section>
        <section>
          <div class="contact-method">
            <span class="icon solid alt fa-home"></span>
            <h3>Address</h3>
            <b>
              Plenty Road<br />
              Bundoora 3083<br />
              Victoria, Australia
            </b>
          </div>
        </section>
      </section>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Untitled</li>
        <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
