
<!-- Wrapper -->
<div id="wrapper">

  <!-- Menu -->
  <nav id="menu">
    <ul class="actions stacked">
      <li><a href="customerindex.html" class="button primary fit"> Log In With Google </a> </li>
      <li><a href="employeeindex.html" class="button fit"> Administrator Sign In </a></li>
      <li><a href=# class="button fit"> Contact Us </a> </li>
    </ul>
  </nav>

  <!-- Banner -->
  <!-- Note: The "styleN" class below should match that of the header element. -->
  <section id="banner" class="style2">
    <div class="inner">
      <span class="image">
        <img src="../../assets/images/business3.jpeg" alt="centre centre" />
      </span>
      <header class="major">
        <h1>Testing Page</h1>
      </header>
      <div class="content">
      </div>
    </div>
  </section>

  <!-- Main -->
  <div id="main">

    <!-- One -->
    <div class="container">
      <b>
        <section id="two" class="spotlights">
          <h1>Forms Testing Section</h1>

          <form #test="ngForm" (ngSubmit)="onSubmit()" novalidate>

            <hr />

            <div class="form-group">
              <label for="email">Email Address</label><br>
              <input #email="ngModel" required minlength="5" maxlength="255" type="text" name="email" class="form-control" [(ngModel)]="testModel.email">
              <div *ngIf="email.touched && email.invalid" class="alert alert-warning">You must enter a valid email address</div>

            </div>
            <pre></pre>
            <div class="form-group">
              <label for="firstname">Firstname</label><br>
              <input #firstname="ngModel" required maxlength="50" type="text" name="firstname" class="form-control" [(ngModel)]="testModel.firstName">
              <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-warning">
                <p *ngIf="firstname.errors.required">Firstname required</p>
              </div>

            </div>
            <pre></pre>
            <div class="form-group">
              <label for="surname">Surname</label><br>
              <input #surname="ngModel" required maxlength="50" type="text" name="Surname" class="form-control" [(ngModel)]="testModel.surname">
              <div *ngIf="surname.touched && surname.invalid" class="alert alert-warning">
                <p *ngIf="surname.errors.required">Surname required</p>
              </div>

            </div>
            <pre></pre>
            <div class="form-group">
              <label for="phone">Phone Number</label><br>
              <input type="number" name="phone" class="form-control" [(ngModel)]="testModel.phone">

            </div>
            <pre></pre>
            <button [disabled]="test.form.invalid || test.form.required" class="btn btn-primary" type="submit">Submit</button>

          </form>
        </section>
      </b>
    </div>

    <!-- Two -->
    <section id="one">
      <div class="inner">
        <b>
          <header class="major">

            Age: <input type="number" size="6" name="age" min="18" max="99" value="21"><br>
            Satisfaction: <input type="range" size="2" name="satisfaction" min="1" max="5" value="3">
          </header>
        </b>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="inner">
        <section>
          <form method="post" action="#">
            <div class="fields">
              <div class="field half">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6"></textarea>
              </div>
            </div>
            <ul class="actions">
              <li><input type="submit" value="Send Message" class="primary" /></li>
              <li><input type="reset" value="Clear" /></li>
            </ul>
          </form>
        </section>
        <section class="split">
          <section>
            <div class="contact-method">
              <span class="icon solid alt fa-envelope"></span>
              <h3>Email</h3>
              <b href="#">info@edgecity.com.au</b>
            </div>
          </section>
          <section>
            <div class="contact-method">
              <span class="icon solid alt fa-phone"></span>
              <h3>Phone</h3>
              <b>0400000000</b>
            </div>
          </section>
          <section>
            <div class="contact-method">
              <span class="icon solid alt fa-home"></span>
              <h3>Address</h3>
              <b>
                Plenty Road & Kinsbury Drive<br />
                Bundoora 3083<br />
                Victoria, Australia
              </b>
            </div>
          </section>
        </section>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Edge 2021</li>
        </ul>
      </div>
    </footer>

  </div>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

