
  <!-- Wrapper -->
  <div id="wrapper">

 

    <!-- Menu -->
    <nav id="menu">
      <ul class="actions stacked">
        <li><a href="customerindex.html" class="button primary fit"> Log In With Google </a> </li>
        <li><a href="employeeindex.html" class="button fit"> Administrator Sign In </a></li>
        <li><a href=# class="button fit"> Contact Us </a> </li>
      </ul>
    </nav>

    <!-- Banner -->
    <!-- Note: The "styleN" class below should match that of the header element. -->
    <section id="banner" class="style2">
      <div class="inner">
        <span class="image">
          <img src="../../assets/images/business3.jpeg" alt="centre centre" />
        </span>
        <header class="major">
          <h1>Testing Page</h1>
        </header>
        <div class="content">
          <p>
            For the regular customer<br />
            Park More. Pay Less.
          </p>
        </div>
      </div>
    </section>

    <!-- Main -->
    <div id="main">

        <b>Age:</b> <input type="number" size="6" name="age" min="18" max="99" value="21" font="#000000"><br>
        <b>Satisfaction:</b> <input type="range" size="2" name="satisfaction" min="1" max="5" value="3">

        <!-- One -->
        <section id="one">
        </section>

        <!-- Two -->
        <section id="two" class="spotlights">
        </section>

        <!-- Three -->


    </div>

    <!-- Contact -->
    <section id="contact">
      <div class="inner">
        <section>
   
        </section>
       
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Edge 2021</li>
        </ul>
      </div>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

