
<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">


    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="landing.html">Landing</a></li>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
      <ul class="actions stacked">
        <li><a href="employeeindex.html" class="button primary fit"> Administrator Sign In </a></li>
        <li><a href="Google.webloc" class="button fit"> Log In With Google </a> </li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Costs and Savings of Ethereum</h1>
          </header>

          <section id="five" class="spotlights">
            <section>
              <div class="content">
                <div class="inner">
                  <header class="major">
                    <h3>Costs and Savings Daily</h3>
                    <h4>Speed can regulary fluctuate as the cars are decelerating and accelerating</h4>
                  </header>
                </div>
              </div>
            </section>
          </section>

          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Cost of Ethereum parking</th>
                  <th>Cost of normal parking</th>
                  <th>Savings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Less than 30min = $5</td>
                  <td>Less than 30min = $10</td>
                  <td>$5</td>
                </tr>
                <tr>
                  <td>30minutes - 1hour = $15</td>
                  <td>30minutes - 1hour = $25</td>
                  <td>$10</td>
                </tr>
                <tr>
                  <td>1 - 2 hours = $30</td>
                  <td> 1 - 2 hours = $40</td>
                  <td>$10</td>
                </tr>
                <tr>
                  <td>2 - 3 hours = $45</td>
                  <td>2 - 3 hours = $55</td>
                  <td>$10</td>
                </tr>
                <tr>
                  <td>4+ hours / Full day = $60</td>
                  <td>4+ hours / Full day = $70</td>
                  <td>$10</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p> Our competitve casual rates are on offer for the people who need to park in a pinch! Enjoy our basic experience without paying for a pass. Park when you need it. Check out our hourly rate above. </p>

          <section id="five" class="spotlights">
            <section>
              <div class="content">
                <div class="inner">
                  <header class="major">
                    <h3>Costs and Savings Weekly</h3>
                    <h4>Speed can regulary fluctuate as the cars are decelerating and accelerating</h4>
                  </header>
                </div>
              </div>
            </section>
          </section>

          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Cost of Ethereum parking</th>
                  <th>Cost of normal parking</th>
                  <th>Savings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 week = $300</td>
                  <td>1 week = $325</td>
                  <td>$25</td>
                </tr>
                <tr>
                  <td>2 weeks = $500</td>
                  <td>2 weeks = $550</td>
                  <td>$50</td>
                </tr>
                <tr>
                  <td>3 weeks = $600</td>
                  <td>3 weeks = $650</td>
                  <td>$50</td>
                </tr>
                <tr>
                  <td>4 weeks = $700</td>
                  <td>4 weeks = $725</td>
                  <td>$25</td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <p>Edge Parking will place you in a spot closer to the entry for when you're in a rush. Enjoy the luxury of not having to go searching for your car with our Premium Parking offer.</p>

          <section id="five" class="spotlights">
            <section>
              <div class="content">
                <div class="inner">
                  <header class="major">
                    <h3>Costs and Savings Monthly</h3>
                    <h4>Speed can regulary fluctuate as the cars are decelerating and accelerating</h4>
                  </header>
                </div>
              </div>
            </section>
          </section>

          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Cost of Ethereum parking</th>
                  <th>Cost of normal parking</th>
                  <th>Savings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Monthly = $700td>
                  <td>Monthly = $750</td>
                  <td>$50</td>
                </tr>
                <tr>
                  <td>3 monthly = $800</td>
                  <td>3 monthly = $850</td>
                  <td>$50</td>
                </tr>
                <tr>
                  <td> 6 monthly =$900</td>
                  <td> 6 monthly =$950</td>
                  <td>$50</td>
                </tr>
                <tr>
                  <td>1 year = $1000</td>
                  <td>1 year = $1100</td>
                  <td>$100</td>
                </tr>
             
              </tbody>
            </table>
          </div>
          <p>
            Heres our offer for the daily commuter who takes the car to work! Do not stress about paying absurdly high parking fees commuting to the office with our business pass offer.
          </p>

          <section id="five" class="spotlights">
            <section>
              <div class="content">
                <div class="inner">
                  <header class="major">
                    <h3>Costs and Savings Yearly</h3>
                    <h4>Speed can regulary fluctuate as the cars are decelerating and accelerating</h4>
                  </header>
                </div>
              </div>
            </section>
          </section>

          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Cost of Ethereum parking</th>
                  <th>Cost of normal parking</th>
                  <th>Saving</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Annual parking pass</td>
                  <td>A yearly parking pass that lasts for 1 whole year.</td>
                  <td>$800</td>
                </tr>
                <tr>
                  <td>Half year parking pass</td>
                  <td>A half year parking pass that lasts for 6 months.</td>
                  <td>$695</td>
                </tr>
                <tr>
                  <td>3 month parking pass</td>
                  <td> A 3 month parking pass that last for 90 days.</td>
                  <td>$495</td>
                </tr>
                <tr>
                  <td>Monthly pass</td>
                  <td>A monthly parking pass that lasts for 28 days.</td>
                  <td>$195</td>
                </tr>
                <tr>
                  <td>Weekly pass</td>
                  <td>A weekly parking pass thats lasts for 5 days.</td>
                  <td>$89</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            Heres our offer for the daily commuter who takes the car to work! Do not stress about paying absurdly high parking fees commuting to the office with our business pass offer.
          </p>


          <!-- <a href="businesspass.html" class="button fit">Click Here To Find Out About Our Business Pass</a> -->

        </div>
      </section>


    </div>


    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Edge</li>
        </ul>
      </div>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>


