<body class="is-preload">

  <!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">Home</a></li>
      <li><a href="landing.html">Landing</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
    <ul class="actions stacked">
      <li><a href="employeeindex.html" class="button primary fit"> Administrator Sign In </a></li>
      <li><a href="Google.webloc" class="button fit"> Log In With Google </a> </li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main" class="alt">

    <!-- One -->
    <section id="one">
      <div class="inner">
        <header class="major">
          <h1>Costs and Savings of Ethereum</h1>
        </header>

        <section id="five" class="spotlights">
          <section>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>Costs and Savings Daily</h3>
                  <h4>Costs comparisons show that a Ethereum car park is better</h4>
                </header>
              </div>
            </div>
          </section>
        </section>

        <div class="table-wrapper">
          <hr />
          <table>
            <thead>
              <tr>
                <th>Cost of Ethereum parking</th>
                <th>Cost of normal parking</th>
                <th>Savings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0 - 1hour = $1.14</td>
                <td>0 - 1hour = $2.68</td>
                <td>$1.54</td>
              </tr>
              <tr>
                <td>1 - 2 hours = $2.75</td>
                <td> 1 - 2 hours = $5.36</td>
                <td>$2.61</td>
              </tr>
              <tr>
                <td>3 weeks = $126.60</td>
                <td>3 weeks = $225.00</td>
                <td>$98.40</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p> Our competitve casual rates are on offer for those who needs to park in a pinch! Enjoy our basic experience without paying for a pass. Park when you need it. Check out our hourly rates above. </p>

        <section id="five" class="spotlights">
          <section>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>Costs and Savings Weekly</h3>
                  <h4>Costs comparisons show that a Ethereum car park is better</h4>
                </header>
              </div>
            </div>
          </section>
        </section>

        <div class="table-wrapper">
          <hr />
          <table>
            <thead>
              <tr>
                <th>Cost of Ethereum parking</th>
                <th>Cost of normal parking</th>
                <th>Savings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 month = $168.81</td>
                <td>1 month = $525.00</td>
                <td>$356.19</td>
              </tr>
              <tr>
                <td>2 months = $337.62</td>
                <td>2 months = $1050.00</td>
                <td>$712.38</td>
              </tr>
              <tr>
                <td>3 months = $506.43</td>
                <td>3 months = $1575.00</td>
                <td>$1068.57</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>Edge Parking will place you in a spot closer to the entry for when you're in a rush. Enjoy the luxury of not having to go searching for your car with our Premium Parking offer.</p>

        <section id="five" class="spotlights">
          <section>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>Costs and Savings Monthly</h3>
                  <h4>Costs comparisons show that a Ethereum car park is better</h4>
                </header>
              </div>
            </div>
          </section>
        </section>

        <div class="table-wrapper">
          <hr />
          <table>
            <thead>
              <tr>
                <th>Cost of Ethereum parking</th>
                <th>Cost of normal parking</th>
                <th>Savings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Full year parking =$2025.75</td>
                <td>Full year parking =$6300.00</td>
                <td>$4274.25</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>
          Heres our offer for the daily commuter who takes the car to work! Do not stress about paying absurdly high parking fees commuting to the office with our business pass offer.
        </p>

        <section id="five" class="spotlights">
          <section>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>Costs and Savings Yearly</h3>
                  <h4>Speed fluctuates as the car is decelerating and accelerating</h4>
                </header>
              </div>
            </div>
          </section>
        </section>

        <div class="table-wrapper">
          <hr />
          <table>
            <thead>
              <tr>
                <th>Cost of Ethereum parking</th>
                <th>Cost of normal parking</th>
                <th>Saving</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Annual parking pass = $1000</td>
                <td>Annueal parking pass =$1100</td>
                <td>$100</td>
              </tr>
              <tr>
                <td>Half year parking pass =$900</td>
                <td>Half year parking pass =$950</td>
                <td>$50</td>
              </tr>
              <tr>
                <td>3 month parking pass =$800</td>
                <td>3 month parking pass =$850</td>
                <td>$50</td>
              </tr>
              <tr>
                <td>Monthly pass =$700</td>
                <td>Monthly pass =$750</td>
                <td>$50</td>
              </tr>
              <tr>
                <td>Weekly pass =$300</td>
                <td>Weekly pass =$350</td>
                <td>$50</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>
          Heres our offer for the daily commuter who takes the car to work! Do not stress about paying absurdly high parking fees commuting to the office with our business pass offer.
        </p>
        <!-- <a href="businesspass.html" class="button fit">Click Here To Find Out About Our Business Pass</a> -->
      </div>
    </section>
  </div>
</body>

<!-- Contact -->
<section id="contact">
  <div class="inner">
    <section>
      <form method="post" action="#">
        <div class="fields">
          <div class="field half">
            <label for="name">Name</label>
            <b>
              <input type="text" name="name" id="name" />
            </b>
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <b>
              <input type="text" name="email" id="email" />
            </b>
          </div>
          <div class="field">
            <label for="message">Message</label>
            <b>
              <textarea name="message" id="message" rows="6"></textarea>
            </b>
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" class="primary" /></li>
          <li><input type="reset" value="Clear" /></li>
        </ul>
      </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-envelope"></span>
          <h3>Email</h3>
          <b href="#">info@edgecity.edu.au</b>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-phone"></span>
          <h3>Phone</h3>
          <b>(000) 000-0000 x12387</b>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-home"></span>
          <h3>Address</h3>
          <b>
            Plenty Road<br />
            Bundoora 3083<br />
            Victoria, Australia
          </b>
        </div>
      </section>
    </section>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Edge</li>
    </ul>
  </div>
</footer>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
