
<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">


    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="landing.html">Landing</a></li>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
      <ul class="actions stacked">
        <li><a href="employeeindex.html" class="button primary fit"> Administrator Sign In </a></li>
        <li><a href="Google.webloc" class="button fit"> Log In With Google </a> </li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Costs and Savings of Ehtereum</h1>
          </header>

          <section id="five" class="spotlights">
            <section>
              <div class="content">
                <div class="inner">
                  <header class="major">
                    <h3>Costs and Savings Dailey</h3>
                    <h4>Speed can regulary fluctuate as the cars are decelerating and accelerating</h4>
                  </header>
                </div>
              </div>
            </section>
          </section>

          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Less than 30 minutes.</td>
                  <td>For stays under 30 minutes.</td>
                  <td>$5</td>
                </tr>
                <tr>
                  <td>30minutes - 1hour</td>
                  <td>For stays between 30 minutes to an hour.</td>
                  <td>$10</td>
                </tr>
                <tr>
                  <td>1 - 2 hours</td>
                  <td> For stays between 1 - 2 hours.</td>
                  <td>$15</td>
                </tr>
                <tr>
                  <td>2 - 3 hours</td>
                  <td>For stays between 2 -3 hours.</td>
                  <td>$20</td>
                </tr>
                <tr>
                  <td>4+ hours / Full day</td>
                  <td>For up to 4 hours to a full day.</td>
                  <td>$30</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p> Our competitve casual rates are on offer for the people who need to park in a pinch! Enjoy our basic experience without paying for a pass. Park when you need it. Check out our hourly rate above. </p>

          <section id="five" class="spotlights">
            <section>
              <div class="content">
                <div class="inner">
                  <header class="major">
                    <h3>Costs and Savings Weekley</h3>
                    <h4>Speed can regulary fluctuate as the cars are decelerating and accelerating</h4>
                  </header>
                </div>
              </div>
            </section>
          </section>

          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>First row</td>
                  <td>Book in advance to get the first row from the exit.</td>
                  <td>$40</td>
                </tr>
                <tr>
                  <td>Second row</td>
                  <td>Book in advance to get the second row from the exit.</td>
                  <td>$35</td>
                </tr>
                <tr>
                  <td>Third row</td>
                  <td>Book in advance to get the third row from the exit.</td>
                  <td>$30</td>
                </tr>
                <tr>
                  <td>Fourth row</td>
                  <td>Book in advance to get the fourth row from the exit.</td>
                  <td>$25</td>
                </tr>
                <tr>
                  <td>Fifth row</td>
                  <td>Book in advance to get the fifth row from the exit.</td>
                  <td>$20</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>Edge Parking will place you in a spot closer to the entry for when you're in a rush. Enjoy the luxury of not having to go searching for your car with our Premium Parking offer.</p>

          <section id="five" class="spotlights">
            <section>
              <div class="content">
                <div class="inner">
                  <header class="major">
                    <h3>Costs and Savings Monthly</h3>
                    <h4>Speed can regulary fluctuate as the cars are decelerating and accelerating</h4>
                  </header>
                </div>
              </div>
            </section>
          </section>

          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Annual parking pass</td>
                  <td>A yearly parking pass that lasts for 1 whole year.</td>
                  <td>$800</td>
                </tr>
                <tr>
                  <td>Half year parking pass</td>
                  <td>A half year parking pass that lasts for 6 months.</td>
                  <td>$695</td>
                </tr>
                <tr>
                  <td>3 month parking pass</td>
                  <td> A 3 month parking pass that last for 90 days.</td>
                  <td>$495</td>
                </tr>
                <tr>
                  <td>Monthly pass</td>
                  <td>A monthly parking pass that lasts for 28 days.</td>
                  <td>$195</td>
                </tr>
                <tr>
                  <td>Weekly pass</td>
                  <td>A weekly parking pass thats lasts for 5 days.</td>
                  <td>$89</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            Heres our offer for the daily commuter who takes the car to work! Do not stress about paying absurdly high parking fees commuting to the office with our business pass offer.
          </p>

          <section id="five" class="spotlights">
            <section>
              <div class="content">
                <div class="inner">
                  <header class="major">
                    <h3>Costs and Savings Yearly</h3>
                    <h4>Speed can regulary fluctuate as the cars are decelerating and accelerating</h4>
                  </header>
                </div>
              </div>
            </section>
          </section>

          <div class="table-wrapper">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Annual parking pass</td>
                  <td>A yearly parking pass that lasts for 1 whole year.</td>
                  <td>$800</td>
                </tr>
                <tr>
                  <td>Half year parking pass</td>
                  <td>A half year parking pass that lasts for 6 months.</td>
                  <td>$695</td>
                </tr>
                <tr>
                  <td>3 month parking pass</td>
                  <td> A 3 month parking pass that last for 90 days.</td>
                  <td>$495</td>
                </tr>
                <tr>
                  <td>Monthly pass</td>
                  <td>A monthly parking pass that lasts for 28 days.</td>
                  <td>$195</td>
                </tr>
                <tr>
                  <td>Weekly pass</td>
                  <td>A weekly parking pass thats lasts for 5 days.</td>
                  <td>$89</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            Heres our offer for the daily commuter who takes the car to work! Do not stress about paying absurdly high parking fees commuting to the office with our business pass offer.
          </p>


          <!-- <a href="businesspass.html" class="button fit">Click Here To Find Out About Our Business Pass</a> -->

        </div>
      </section>


    </div>


    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Edge</li>
        </ul>
      </div>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>


