<div id="wrapper">

	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Cities on Blockchain - EDGE<br />Cost Effective Parking</h1>
			</header>
			<div class="content">
				<p>
					<b>
						Your fast, personal way of accessing many of parking spaces<br />
						for your convenience.
					</b>
				</p>
				<ul class="actions">
					<li><a href="#one" class="button next scrolly">Explore Edge Parking</a></li>
				</ul>
			</div>
		</div>
	</section>

	<div id="main">

		<section id="one" class="tiles">
			<article>
				<span class="image">
					<img src="../../assets/images/googlemaps.png" alt="" />
				</span>
				<header class="major">
					<nav class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-light" [routerLink]="['/Two']"><h1>About Us</h1></a>
					</nav>
					<p><b>Meet the creators</b></p>
				</header>
			</article>

			<article>
				<span class="image">
					<img src="../../assets/images/googlemaps.png" alt="" />
				</span>
				<header class="major">
					<nav class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-light" [routerLink]="['/Three']"><h1>The Simulator</h1></a>
					</nav>
					<p><b>See how we get data</b></p>
				</header>
			</article>

			<article>
				<span class="image">
					<img src="../../assets/images/driving.jpeg" alt="" />
				</span>
				<header class="major">
					<nav class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-light" [routerLink]="['/Four']"><h1>How It Works</h1></a>
					</nav>
					<p><b>Learn how to use the smart contract carparks</b></p>
				</header>
			</article>

			<article>
				<span class="image">
					<img src="../../assets/images/boomgate.jpeg" alt="" />
				</span>
				<header class="major">
					<nav class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-light" [routerLink]="['/Six']"><h1>Costs</h1></a>
					</nav>
					<p><b>Find the savings of ethereum</b></p>
				</header>
			</article>

			<article>
				<span class="image">
					<img src="../../assets/images/googlemaps.png" alt="" />
				</span>
				<header class="major">
					<nav class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-light" [routerLink]="['/Eight']"><h1>Map</h1></a>
					</nav>
					<p><b>Find your next carpark</b></p>
				</header>
			</article>

			<article>
				<span class="image">
					<img src="../../assets/images/business.jpeg" alt="" />
				</span>
				<header class="major">
					<nav class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-light" [routerLink]="['/Nine']"><h1>Car Parks</h1></a>
					</nav>
					<p><b>Get a carpark recommendation</b></p>
				</header>
			</article>

			<article>
				<span class="image">
					<img src="../../assets/images/driving.jpeg" alt="" />
				</span>
				<header class="major">
					<nav class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-light" [routerLink]="['/Ten']"><h1>Customer Login</h1></a>
					</nav>
					<p><b>See Your Data</b></p>
				</header>
			</article>

			<article>
				<span class="image">
					<img src="../../assets/images/driving.jpeg" alt="" />
				</span>
				<header class="major">
					<nav class="nav-item" [routerLinkActive]="['link-active']">
						<a class="nav-link text-light" [routerLink]="['/Seven']"><h1>Admin Login</h1></a>
					</nav>
					<p><b>See Multiple User's Data</b></p>
				</header>
			</article>
		</section>

		<section id="two">
			<div class="inner">
				<header class="major">
					<h1>Who We Are</h1>
				</header>
				<p>
					<b>
						Edge Parking has been curated by us at Team Edge, with the intention of creating a fully autonomous system, designed to take the guess work out of your journey by helping you find a parking location closer to your destination, whilst also safely processing payment transactions. Our technology is designed for everyone, from the daily commuter, all the way to the casual adventurer.<br>
						Worry less about the finding where you have to park your vehicle, and more about your day ahead!
					</b>
				</p>
			</div>
		</section>

		<!-- Contact -->
		<section id="contact">
			<div class="inner">
				<section>
					<form method="post" action="#">
						<div class="fields">
							<div class="field half">
								<label for="name">Name</label>
								<b>
									<input type="text" name="name" id="name" />
								</b>
							</div>
							<div class="field half">
								<label for="email">Email</label>
								<b>
									<input type="text" name="email" id="email" />
								</b>
							</div>
							<div class="field">
								<label for="message">Message</label>
								<b>
									<textarea name="message" id="message" rows="6"></textarea>
								</b>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="primary" /></li>
							<li><input type="reset" value="Clear" /></li>
						</ul>
					</form>
				</section>
				<section class="split">
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-envelope"></span>
							<h3>Email</h3>
							<b href="#">info@edgecity.edu.au</b>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-phone"></span>
							<h3>Phone</h3>
							<b>(000) 000-0000 x12387</b>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-home"></span>
							<h3>Address</h3>
							<b>
								Plenty Road<br />
								Bundoora 3083<br />
								Victoria, Australia
							</b>
						</div>
					</section>
				</section>
			</div>
		</section>


		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; EDGE 2021 </li>
				</ul>
			</div>
		</footer>

	</div>


	<!-- Scripts -->
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery.scrolly.min.js"></script>
	<script src="../../assets/js/jquery.scrollex.min.js"></script>
	<script src="../../assets/js/browser.min.js"></script>
	<script src="../../assets/js/breakpoints.min.js"></script>
	<script src="../../assets/js/util.js"></script>
	<script src="../../assets/js/main.js"></script>

</div>
