<!-- Wrapper -->
<div id="wrapper">

  <!-- Menu -->
  <nav id="menu">
    <ul class="actions stacked">
      <li><a href="customerindex.html" class="button primary fit"> Log In With Google </a> </li>
      <li><a href="employeeindex.html" class="button fit"> Administrator Sign In </a></li>
      <li><a href=# class="button fit"> Contact Us </a> </li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main" class="alt">

    <!-- One -->
    <section id="one">
      <div class="inner">
        <header class="major">
          <h1>See Carpark and Network Usage</h1>
        </header>
        <p>
          <b></b>
        </p>
      </div>
    </section>

    <!-- LIVE DATA DISPLAY V2-->
    <section id="three">

      <section id="five" class="spotlights">
        <section>

          <div class="content">
            <div class="inner">
              <header class="major">
                <h3>Active Sensors on the Blockchain Network</h3>
                <h4>See the scale on how many sensors the network can run in a simulation</h4>
              </header>
            </div>
          </div>
        </section>
      </section>

      <div style="width:100%">
        <canvas id="canvas4"></canvas>
      </div>
    </section>

    <!-- LIVE DATA DISPLAY V3-->
    <section id="four">
      <p>
        <b>Where Mid Sim is the middle of a simulation run</b>
      </p>

      <section id="five" class="spotlights">
        <section>

          <div class="content">
            <div class="inner">
              <header class="major">
                <h3>Most recent charges the biggest users of the network</h3>
                <h4>Costs can change depending on a variety of facotrs</h4>
              </header>
            </div>
          </div>
        </section>
      </section>

      <div style="width:100%">
        <canvas id="canvas3"></canvas>
      </div>
    </section>

    <!-- LIVE DATA DISPLAY -->
    <section id="five">
      <p>
        <b>See above the usage and costs of different users</b>
      </p>

    </section>


    <!-- Contact -->
    <section id="contact">
      <div class="inner">
        <section>
          <form method="post" action="#">
            <div class="fields">
              <div class="field half">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
              </div>
              <div class="field half">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6"></textarea>
              </div>
            </div>
            <ul class="actions">
              <li><input type="submit" value="Send Message" class="primary" /></li>
              <li><input type="reset" value="Clear" /></li>
            </ul>
          </form>
        </section>
        <section class="split">
          <section>
            <div class="contact-method">
              <span class="icon solid alt fa-envelope"></span>
              <h3>Email</h3>
              <b href="#">info@edgecity.com.au</b>
            </div>
          </section>
          <section>
            <div class="contact-method">
              <span class="icon solid alt fa-phone"></span>
              <h3>Phone</h3>
              <b>0400000000</b>
            </div>
          </section>
          <section>
            <div class="contact-method">
              <span class="icon solid alt fa-home"></span>
              <h3>Address</h3>
              <b>
                Plenty Road & Kingsbury Drive<br />
                Bundoora 3083<br />
                Victoria Australia
              </b>
            </div>
          </section>
        </section>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Edge 2021</li>
        </ul>
      </div>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</div>
